{% extends  '@EventNight/base.html.twig'%}
{% block title %} Accueil {% endblock %}

{% block body%}
    {% embed "@EventNight/navbarDefault.html.twig" %}
    {% endembed %}

    <div class="container-fluid text-center bg-grey">
        <h2 style="color:#E0893C">Présentation</h2>
        <p>Retrouvez tous vos mangakas préférés à la soirée manga du 01 février</p>
    </div>

    <div class="container-fluid text-center bg-grey">
        <h2>Rencontrez votre Mangaka favori</h2>
        <p>Séance de dédicace et performance en live !! </p>
    </div>

    <div class="container-fluid text-center bg-grey">
        <h2>Venez assister à la remise des prix du concours de dessin</h2>
        <p>Sélection sur plus de 100 déssins par un groupe de jury dont Masahi Kishimoto</p>
    </div>

    <div class="container-fluid text-center bg-grey">
        <h2 style="color:#E0893C">Déssins sélectionnés par les jury</h2>
        <div id="mSlide" class="carousel slide carousel-fade" data-ride="carousel" >

            <ol class="carousel-indicators">
                <li data-target="#mSlide" data-slide-to="0" class="active"></li>
                <li data-target="#mSlide" data-slide-to="1"></li>
                <li data-target="#mSlide" data-slide-to="2"></li>
                <li data-target="#mSlide" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/img_fan/07_by_ningar-d8bky3e.jpg') }}">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/img_fan/Kaneki.Ken.full.1810432.jpg') }}">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/img_fan/07_by_ningar-d8bky3e.jpg') }}">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('images/img_fan/untitled_by_jesusagudo-d6vmyw7.jpg') }}">
                </div>
            </div>

            <a class="left carousel-control left" href="#mSlide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control right" href="#mSlide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="container-fluid text-center bg-black">
        <h2 style="color:#E0893C">Nous contacter</h2>
        <hr/>
        <br>
        <div class="row">
            <div class="col-md-3 ">
                <h2 style="font-size: 25px;"><i class="fa fa-map-marker" aria-hidden="true"></i>&#160; Adresse: </h2>
                <p style="font-size: 15px;">00 rue paris </br>
                    75 000 Paris</p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"><i class="fa fa-mobile" aria-hidden="true"></i>&#160; Téléphone: </h2>
                <p style="font-size: 15px;">+33 (0) 0 00 00 00 00</p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&#160; Mail: </h2>
                <p style="font-size: 15px;">julien.xu@edu.ecetech.fr </p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"> Réseaux Sociaux: </h2>
                <a class="facebookBtn smGlobalBtn" href="https://fr-fr.facebook.com/" target="_blank">
                    <span class="fa fa-facebook"></span>
                </a>
                <a class="twitterBtn smGlobalBtn" href="https://twitter.com/?lang=fr" target="_blank">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="instagramBtn smGlobalBtn" href="https://www.instagram.com/" target="_blank">
                    <span class="fa fa-instagram"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
