{% extends  '@EventNight/base.html.twig'%}
{% block title %} Accueil {% endblock %}

{% block body%}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Event</a>
            </div>
            <div class="collapse navbar-collapse" id="navB">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="">Inscription</a></li>
                    <li><a href="{{ path('users_index') }}">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="padding-left:0px" >

        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('images/presentation.jpg') }}" >
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-grey">
        <h2 style="color:#E0893C">Présentation</h2>

    </div>

    <div id="mySlide" class="slide slide text-center" data-ride="slide">
        <!-- Indicators -->
        <ol class="slide-indicators">
            <li data-target="#mySlide" data-slide-to="0" class="active"></li>
            <li data-target="#mySlide" data-slide-to="1"></li>
            <li data-target="#mySlide" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="slide-inner" role="listbox">
            <div class="item active">
                <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left slide-control" href="#mySlide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right slide-control" href="#mySlide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
    <div class="container-fluid text-center bg-black">
        <h2 style="color:#E0893C">Nous contacter</h2>
        <hr/>
        <br>
        <div class="row">
            <div class="col-md-3 ">
                <h2 style="font-size: 25px;"><i class="fa fa-map-marker" aria-hidden="true"></i>&#160; Adresse: </h2>
                <p style="font-size: 15px;">00 rue paris </br>
                    75 000 Paris</p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"><i class="fa fa-mobile" aria-hidden="true"></i>&#160; Téléphone: </h2>
                <p style="font-size: 15px;">+33 (0) 0 00 00 00 00</p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&#160; Mail: </h2>
                <p style="font-size: 15px;">julien.xu@edu.ecetech.fr </p>
            </div>
            <div class="col-md-3">
                <h2 style="font-size: 25px;"> Réseaux Sociaux: </h2>
                <a class="facebookBtn smGlobalBtn" href="https://fr-fr.facebook.com/" target="_blank">
                    <span class="fa fa-facebook"></span>
                </a>
                <a class="twitterBtn smGlobalBtn" href="https://twitter.com/?lang=fr" target="_blank">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="instagramBtn smGlobalBtn" href="https://www.instagram.com/" target="_blank">
                    <span class="fa fa-instagram"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
