{% extends 'EventNightBundle::base.html.twig' %}

{% block body %}
    {% embed "@EventNight/navbarDefault.html.twig" %}
    {% endembed %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="S'inscrire" />
    {{ form_end(form) }}


{% endblock %}

{% block footer %}
    {% embed '@EventNight/footer.html.twig'%}{% endembed %}
{% endblock %}